#content {
  display: flex;
  justify-content: center;
}

.menu-container {
  width: 20vw;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.menu-title {
  font-weight: bold;
  font-size: 20px;
}

.lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  background-color: lightblue;
}

.list-container {
  border: 1px solid black;
  background-color: rgb(228, 221, 221);
  margin: 20px;
  width: 40vw;
  text-align: center;
}

.list-title {
  font-weight: bold;
  font-size: 20px;
}
