@font-face {
  font-family: "Rajdhani";
  src: url("./Rajdhani-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Rajdhani", sans-serif;
}

#content {
  display: flex;
  justify-content: center;
}

/* MENU BAR */

.menu-container {
  width: 15vw;
  background-color: pink;
  display: flex;
  flex-direction: column;

  padding-left: 20px;
}

.top-menu-title {
  font-size: 50px;
  color: white;
}

.menu-title {
  font-weight: bold;
  font-size: 20px;
}

.title-button-container {
  display: flex;
}

.project-select {
  cursor: pointer;
  color: purple;
}

.new-list-button,
.new-project-button {
  width: 3rem;
  height: 2.7rem;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.new-list-button {
  font-size: 70px;
  border: none;
  background-color: pink;
  margin-left: 55px;
}

.new-list-button:hover {
  color: black;
}

/* // PROJECT CONTAINER */

/* FORM CONTAINER */

.form-container,
.project-form-container {
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  width: 20vw;
}

/* // LIST CONTAINER */

.lists-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  background-color: lightblue;
  cursor: pointer;
}

.list-container {
  border: 1px solid black;
  background-color: rgb(228, 221, 221);
  margin: 20px;
  width: 40vw;
  text-align: center;
}

.list-title {
  font-weight: bold;
  font-size: 20px;
}

/* // OPEN LIST CONTAINER */

.open-list-container {
  border: 1px solid black;
  background-color: lightgreen;
}

/* // PROJECT LIST CONTAINER */

.project-page-container {
  background-color: blue;
}
